{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'conjunto/style.css' %}"> </head>
<body>
    {% load static %}

    {% block content %}
    <h1>Cadastrar Conjunto (Interativo)</h1>
    
    <form method="post" id="conjuntoForm">
        {% csrf_token %}
    
        <h2>Dados do Conjunto</h2>
        {{ conjunto_form.as_p }}
    
    
      <div class="image-map-container">
        <img src="{% static 'conjunto/Conjunto.jpg' %}" alt="Base do Conjunto" usemap="#conjuntoMap" id="baseImage">
            <map name="conjuntoMap">
                <area shape="rect" coords="x1,y1,x2,y2" href="{% url 'personagem-conjuntos-detail' personagem_pk=personagem.pk conjunto_pk=conjunto.pk %}" alt="Elmo">
                <area shape="rect" coords="x3,y3,x4,y4" href="{% url 'personagem-conjuntos-detail' personagem_pk=personagem.pk conjunto_pk=conjunto.pk %}" alt="Peitoral">
            </map>
    
        </div>
        
</body>
</html>