{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'conjunto/styleConj.css' %}"> </head>
<body>

    <div class="container">
        <img src="{% static 'conjunto/Tela de Conjunto copiar.png' %}" alt="Personagem" usemap="#mapa-personagem">

        <map name="mapa-personagem">
            <area shape="rect" coords="395,30,702,92" href="{% url 'cadastrar_efeitos_conjunto' tipo='conjunto' %}" alt="Conjunto">

            <area shape="rect" coords="225,175,400,227"  href="{% url 'cadastrar_atributos_conjunto' tipo='elmo' %}" alt="Elmo">
            <area shape="rect" coords="415,175,550,227"  href="{% url 'cadastrar_efeitos_conjunto' tipo='elmo' %}" alt="Elmo">

            <area shape="rect" coords="920,275,1070,325" href="{% url 'cadastrar_atributos_conjunto' tipo='peitoral' %}" alt="Peitoral">
            <area shape="rect" coords="1090,275,1235,325" href="{% url 'cadastrar_efeitos_conjunto' tipo='peitoral' %}" alt="Peitoral">

            <area shape="rect" coords="225,400,400,450" href="{% url 'cadastrar_atributos_conjunto' tipo='manoplas' %}" alt="Manoplas">
            <area shape="rect" coords="415,400,550,450" href="{% url 'cadastrar_efeitos_conjunto' tipo='manoplas' %}" alt="Manoplas">

            <area shape="rect" coords="920,540,1070,592" href="{% url 'cadastrar_atributos_conjunto' tipo='pernas' %}" alt="Calcas">
            <area shape="rect" coords="1090,540,1235,592" href="{% url 'cadastrar_efeitos_conjunto' tipo='pernas' %}" alt="Calcas">

            <area shape="rect" coords="225,675,400,725" href="{% url 'cadastrar_atributos_conjunto' tipo='botas' %}" alt="Bota">
            <area shape="rect" coords="225,675,550,740" href="{% url 'cadastrar_efeitos_conjunto' tipo='botas' %}" alt="Bota">
        </map>
    </div>
    <div>
        <a href="{% url 'arma'%}"><button class="button" role="button">Arma</button></a>
        <a href="{% url 'acessorios' %}"><button class="button" role="button">Acessorios</button></a>
        <a href="{% url 'exibir_personagem' %}" class="buttonLink"><button class="button" role="button">Personagem</button></a>
    </div>
</body>
</html>

