/* ... seus estilos anteriores ... */

body {
    background-color: black;
}
#form-oculto{
    display: none;
}

.image-map-container {
    position: relative; /* Para posicionar as áreas clicáveis */
    display: inline-block; /* Para o container se ajustar ao tamanho da imagem */
}

#baseImage {
    display: block;  /* Remove espaçamento extra abaixo da imagem */
    max-width: 100%; /* Garante que a imagem seja responsiva */
    height: auto;
}

.peca-form {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.peca-form.hidden {
    display: none;
}

.peca-form h3{
    text-align: center;
}

/* Estilo para destacar a área clicada (opcional) */
area.active { /*Precisa do javascript*/
    outline: 2px solid blue; /* Ou qualquer outro estilo de destaque */
}
.map-link{
    cursor: pointer;
}