<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUD do Personagem</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'habilidade/style.css' %}">
</head>
<body>    
    {% load l10n %}
    {% load humanize %}
    {% localize on %}
    
    <div class="background-container">
        <form method="POST" action="{% url 'salvar_habilidade' %}">
        {% csrf_token %}

        <div class="header">
              <div class="name" style="color: white;">
                <span >Nome do Personagem: {{ tela_personagem.personagem }}</span>
            </div>
        </div>

        <div class="top-section">
            <div class="vida-mana-vigor bordered-section">                  
                
                <div class="abilities section-title">HABILIDADE 1</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade1Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade1Tipo1" name="habilidade1Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade1Nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade1Nome1" name="habilidade1Nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade1Custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade1Custo1" name="habilidade1Custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade1Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade1Desc1" name="habilidade1Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab1">Add</button>
                <div class="atributos-added-container" id="hab1Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 2</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade2Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade2Tipo1" name="habilidade2Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade2nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade2nome1" name="habilidade2nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade2custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade2custo1" name="habilidade2custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade2Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade2Desc1" name="habilidade2Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab2">Add</button>
                <div class="atributos-added-container" id="hab2Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>
                
                <div class="abilities section-title">HABILIDADE 3</div>                
                <div class="atributos-added-container habilidade-row">                
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade3Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade3Tipo1" name="habilidade3Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade3nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade3nome1" name="habilidade3nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade3custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade3custo1" name="habilidade3custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade3Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade3Desc1" name="habilidade3Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab3">Add</button>
                <div class="atributos-added-container" id="hab3Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 4</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade4Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade4Tipo1" name="habilidade4Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade4nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade4nome1" name="habilidade4nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade4custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade4custo1" name="habilidade4custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade4Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade4Desc1" name="habilidade4Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab4">Add</button>
                <div class="atributos-added-container" id="hab4Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 5</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade5Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade5Tipo1" name="habilidade5Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade5nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade5nome1" name="habilidade5nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade5custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade5custo1" name="habilidade5custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade5Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade5Desc1" name="habilidade5Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab5">Add</button>
                <div class="atributos-added-container" id="hab5Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 6</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade6Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade6Tipo1" name="habilidade6Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade6nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade6nome1" name="habilidade6nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade6custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade6custo1" name="habilidade6custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade6Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade6Desc1" name="habilidade6Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab6">Add</button>
                <div class="atributos-added-container" id="hab6Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 7</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade7Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade7Tipo1" name="habilidade7Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade7nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade7nome1" name="habilidade7nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade7custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade7custo1" name="habilidade7custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade7Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade7Desc1" name="habilidade7Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab7">Add</button>
                <div class="atributos-added-container" id="hab7Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 8</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade8Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade8Tipo1" name="habilidade8Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade8nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade8nome1" name="habilidade8nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade8custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade8custo1" name="habilidade8custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade8Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade8Desc1" name="habilidade8Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab8">Add</button>
                <div class="atributos-added-container" id="hab8Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 9</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade9Tipo">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade9Tipo" name="habilidade9Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade9nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade9nome1" name="habilidade9nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade9custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade9custo1" name="habilidade9custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade9Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade9Desc1" name="habilidade9Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab9">Add</button>
                <div class="atributos-added-container" id="hab9Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 10</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade10Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade10Tipo1" name="habilidade10Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade10nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade10nome1" name="habilidade10nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade10custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade10custo1" name="habilidade10custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade10Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade10Desc1" name="habilidade10Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab10">Add</button>
                <div class="atributos-added-container" id="hab10Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 11</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade11Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade11Tipo1" name="habilidade11Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade11nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade11nome1" name="habilidade11nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade11custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade11custo1" name="habilidade11custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade11Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade11Desc1" name="habilidade11Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab11">Add</button>
                <div class="atributos-added-container" id="hab11Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>

                <div class="abilities section-title">HABILIDADE 12</div>                
                <div class="atributos-added-container habilidade-row">
                    <div class='habilidade-row-container'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade12Tipo1">Tipo da Habilidade</label>
                            <select class='personagem_select' id="habilidade12Tipo1" name="habilidade12Tipo1">
                                <option value="habilidadePassivo" selected> Habilidade Passivo</option>
                                <option value="habilidadeAtivo"> Habilidade Ativo</option>
                                <option value="habilidadeAura"> Habilidade Aura</option>
                            </select>
                        </div>
                        <div>
                            <label for="habilidade12nome1">Nome da Habilidade:</label>
                            <input style="width: 100%"; type="text" id="habilidade12nome1" name="habilidade12nome1" placeholder="Nome da Habilidade">
                            <label for="habilidade12custo1">Custo da Habilidade:</label>
                            <input style="width: 50%"; type="text" id="habilidade12custo1" name="habilidade12custo1" placeholder="Custo da Habilidade">
                        </div class='habilidade-row-miniContainer'>
                        <div class='habilidade-row-miniContainer'>
                            <label for="habilidade12Desc1">Descrição da Habilidade:</label>
                            <textarea style="width: 100%; height: 10em; wrap: "hard""; type="text" id="habilidade12Desc1" name="habilidade12Desc1" placeholder="Descrição da Habilidade"></textarea>
                        </div>
                    </div>
                </div>
                <button class="add-atributo-btn" id="addHab12">Add</button>
                <div class="atributos-added-container" id="hab12Container">
                      <!-- Atributos serão adicionados aqui dinamicamente -->
                </div>                
            </div>
        </div>
    </form>
    <div>
        <a href="{% url 'base_personagem' personagem_id=tela_personagem.id %}"><button class="button" role="button">Voltar</button></a>
        <a href="{% url 'exibir_personagem' %}" class="buttonLink"><button class="button" role="button">Personagem</button></a>

            <button class="submit" role="button">Salvar</button>
    {% endlocalize %}
    <script src="{% static 'habilidade\script_efeitos.js' %}"></script>
</body>
</html>








