
venv/
*.pyc
__pycache__/
/lib/arma/__pycache__/__init__.cpython-312.pyc
/lib/acessorio/__pycache__/__init__.cpython-312.pyc
/lib/armasemmaos/__pycache__/__init__.cpython-312.pyc
/lib/bencaodiv/__pycache__/__init__.cpython-312.pyc
/lib/bonusex/__pycache__/__init__.cpython-312.pyc
/lib/cla/__pycache__/__init__.cpython-312.pyc
/lib/conjacessorio/__pycache__/__init__.cpython-312.pyc
/lib/conjarmadura/__pycache__/__init__.cpython-312.pyc
/lib/conjmaestria/__pycache__/__init__.cpython-312.pyc
/lib/elementos/__pycache__/__init__.cpython-312.pyc
/lib/equipamentos/__pycache__/__init__.cpython-312.pyc
/lib/grimorio/__pycache__/__init__.cpython-312.pyc
/lib/habilidade/__pycache__/__init__.cpython-312.pyc
/lib/maestrias/__pycache__/__init__.cpython-312.pyc
/lib/missoes/__pycache__/__init__.cpython-312.pyc
/lib/raca/__pycache__/__init__.cpython-312.pyc
/lib/utilitarios/__pycache__/__init__.cpython-312.pyc
lib/acessorio/__init__.py
lib/arma/__init__.py
lib/armasemmaos/__init__.py
lib/atributos/__init__.py
lib/bencaodiv/__init__.py
lib/bonusex/__init__.py
lib/cla/__init__.py
lib/conjacessorio/__init__.py
lib/conjarmadura/__init__.py
lib/conjmaestria/__init__.py
lib/elementos/__init__.py
lib/equipamentos/__init__.py
lib/grimorio/__init__.py
lib/habilidade/__init__.py
lib/maestrias/__init__.py
lib/missoes/__init__.py
lib/raca/__init__.py
