{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'arma/styleConj.css' %}"> </head>
<body>

    <div class="container">
        <img src="{% static 'arma/armado.png' %}" alt="Personagem" usemap="#mapa-personagem">

        <map name="mapa-personagem">
            <area shape="rect" coords="29,398,189,451" href="{% url 'cadastrar_atributos_arma' tipo='principal' %}" alt="Principal">
            <area shape="rect" coords="198,400,358,453" href="{% url 'cadastrar_efeitos_arma' tipo='principal' %}" alt="Principal">

            <area shape="rect" coords="730,494,890,547" href="{% url 'cadastrar_atributos_arma' tipo='secundario' %}" alt="Secundario">
            <area shape="rect" coords="901,494,1061,547" href="{% url 'cadastrar_efeitos_arma' tipo='secundario' %}" alt="Secundario">
        </map>
    </div>
    <div>
        <a href="{% url 'conjunto'%}"><button class="button" role="button">Conjunto</button></a>
        <a href="{% url 'acessorios' %}"><button class="button" role="button">Acessorios</button></a>
        <a href="{% url 'exibir_personagem' %}" class="buttonLink"><button class="button" role="button">Personagem</button></a>
    </div>
</body>
</html>