<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUD do Personagem</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'arma/style.css' %}">
</head>
<body>
    {% load l10n %}
    {% load humanize %}
    {% localize on %}
    <div class="background-container">
        
        <form method="POST" action="{% url 'salvar_arma_atributo' %}">
            {% csrf_token %}

        <div class="header">
            <div class="name" style="color: white;">
                <span >Nome do Personagem: {{ tela_personagem.personagem }}</span>
            </div>
        </div>

        <div class="top-section">
            <div class="vida-mana-vigor bordered-section">
                <div class="formGroupRed field">
                    <input type="number" maxlength="12" name="vida" id="vida" placeholder="Valor da Vida" value="{{ base_personagem.vida }}" onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;"/>
                    <input style="margin-Left: 1em" pattern="[0-9]+$" type="number" placeholder="Aumento de Vida (%)" name='vidaTotal' id='vidaTotal' value="{{ maestria.vidaBase }}" />
                    <label style="margin-Left: 13.5em; width: 13.5em" for="vidaMax" class="formLabel">Aumento de Vida (%)</label>
                    <label style="width: 13em" for="vida" class="formLabel">Aumento de Vida</label>
                </div>
            </div>
        </div>

        <div class="middle-section">
            <div class="left-column">
                <div class="attribute-stats bordered-section">
                    <div class="stat section-title">STATUS</div>
                    <div class="formGroup field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Força" id='forca' />
                        <label for="forca" class="formLabel">Força</label>
                    </div>
                    <div class="formGroup field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Destreza" id='destreza'/>
                        <label for="destreza" class="formLabel">Destreza</label>
                    </div>
                    <div class="formGroup field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Inteligência" id='inteligencia'/>
                        <label for="inteligencia" class="formLabel">Inteligência</label>
                    </div>
                    <div class="formGroup field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Determinação" id='determinacao'/>
                        <label for="determinacao" class="formLabel">Determinação</label>
                    </div>
                    <div class="formGroup field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='perspicacia'/>
                        <label for="perspicacia" class="formLabel">Perspicácia</label>
                    </div>
                    <div class="formGroup field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Carisma" id='carisma'/>
                        <label for="carisma" class="formLabel">Carisma</label>
                    </div>
                </div>
                <div class="rolling-bonus-stats bordered-section">
                    <div class="bonus section-title">BÔNUS DE ROLAGEM</div>
                        <button class="add-atributo-btn" type="button" id="addRolagem">Add</button>
                        <div class="atributos-added-container" id="rolagemContainer">
                            <!-- Atributos serão adicionados aqui dinamicamente -->
                    </div>
                    
                </div>
            </div>                

            <div class="right-column">
                <div class="character-abilities bordered-section">
                    <div class="checkbox-wrapper-8">
                        <input type="checkbox" id="alterarAtr" class="tgl tgl-skewed" onclick='definirAtr(this)'/>
                        <label for="alterarAtr" data-tg-on="ARMA" data-tg-off="ESCUDO" class="tgl-btn" ></label>
                    </div>            

                    <div id="atributosDefensivo" style="display: block">
                        <div class="abilities section-title">ATRIBUTOS DEFENSIVOS</div>
                        <button class="add-atributo-btn" type="button" id="addDefesa">Add</button>
                        <div class="atributos-added-container" id="defesaContainer">
                            <!-- Atributos serão adicionados aqui dinamicamente -->
                        </div>
                            
                        <div class="formGroup field">
                            <input pattern="[0-9]+$" type="number" placeholder="Redução de Dano" id='reducao' />
                            <label for="reducao" class="formLabel">Redução</label>
                        </div>
                        <div class="formGroupRed field">
                            <input pattern="[0-9]+$" type="number" placeholder="Defesa Espiritual" id='defEspiritual' />
                            <input pattern="[0-9]+$" type="number" placeholder="Redução Espiritual" id='redEspiritual' />
                            <label for="defEspiritual" class="formLabel">Espiritual</label>
                        </div>    
                    </div>

                    <div id="atributosOfensivo" style="display: none">
                        <div class="abilities section-title">ATRIBUTOS OFENSIVOS</div>
                        <button class="add-atributo-btn" type="button" id="addAtributo">Add</button>
                        <div class="atributos-added-container" id="atributosContainer">
                            <!-- Atributos serão adicionados aqui dinamicamente -->
                        </div>
                        
                        
                        <div class="formGroup field">
                            <input pattern="[0-9]+$" type="number" placeholder="Esmagamento" id='esmagamento' />
                            <label for="esmagamento" class="formLabel">Esmagamento</label>
                        </div>
                        <div class="formGroup field">
                            <input pattern="[0-9]+$" type="number" placeholder="Penetração Extra" id='penExtra' />
                            <label for="penExtra" class="formLabel">Penetração Extra</label>
                        </div>
                        <div class="formGroupRed field">
                            <input pattern="[0-9]+$" type="number" placeholder="Dano Final" id='dmgFinal' />
                            <label for="dmgFinal" class="formLabel">Dano Final</label>
                        </div>                    
                        <div class="formGroupRed field">
                            <input pattern="[0-9]+$" type="number" placeholder="Dano Espiritual" id='dmgEspiritual' />
                            <label for="dmgEspiritual" class="formLabel">Espiritual</label>
                        </div>

                    </div>               
                </div>

                <div class="character-equipment bordered-section">
                    <div class="equipment section-title">AMPLIFICAÇÕES</div>
                    <button class="add-atributo-btn" type="button" id="addAmplificacao">Add</button>
                    <div class="atributos-added-container" id="amplificacaoContainer">
                        <!-- Atributos serão adicionados aqui dinamicamente -->
                    </div>
                    
                    <div class="equipment section-title">REGENERAÇÃO</div>
                    <button class="add-atributo-btn" type="button" id="addRegeneracao">Add</button>
                    <div class="atributos-added-container" id="regeneracaoContainer">
                        <!-- Atributos serão adicionados aqui dinamicamente -->
                    </div> 
                    
                </div>
            </div>
        </div>
        <div class="formGroupRed">
            <a href="{% url 'arma'%}"><button class="button" type="button" role="button">Voltar</button></a>
            <a href="{% url 'exibir_personagem' %}"><button type="button" class="button" role="button">Personagem</button></a>
            <button class="submit" role="button">Salvar</button>
        </div>
    </form>
    </div>
    {% endlocalize %}
    <script src="{% static 'arma\script.js' %}"></script>
</body>
</html>