<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do Personagem - CdE</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base_personagem/style.css' %}">
</head>
<body>
    {% load l10n %}
    {% load humanize %}
    {% localize on %}
    <div class="background-container">

        <form method="POST" action="{% url 'salvar_base_personagem' %}">
        {% csrf_token %}

        <div class="header">
            <div class="name" style="color: white;">
                <span >Nome do Personagem: {{ tela_personagem.personagem }}</span>
            </div>
        </div>

        <div class="top-section">             
            <div class="vida-mana-vigor bordered-section">
                <div class="formGroupRed field">
                    <input type="number" maxlength="12" name="vida" id="vida" placeholder="Valor da Vida" value="{{ base_personagem.vida }}" onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;"/>
                    <input style="margin-Left: 1em" pattern="[0-9]+$" type="number" placeholder="Aumento de Vida Base" name='vidaBase' id='vidaBase' value="{{ base_personagem.vidaBase }}" />
                    <label style="margin-Left: 13.5em; width: 13.5em" for="vidaBase" class="formLabel">Aumento de Vida Base</label>
                    <label style="width: 13em" for="vida" class="formLabel">Vida Máxima</label>
                </div> 
                <div class="formGroupRed field">
                    <input pattern="[0-9]+$" type="number" placeholder="Valor da Mana" name='mana' id='mana' value="{{ base_personagem.mana }}" />
                    <input style="margin-Left: 1em" pattern="[0-9]+$" type="number" placeholder="Valor da Vigor" name='vigor' id='vigor' value="{{ base_personagem.vigor }}" />
                    <label style="width: 13em" for="mana" class="formLabel">Aumento de Mana</label>
                    <label style="margin-Left: 13.5em; width: 13.5em" for="vigor" class="formLabel">Aumento de Vigor</label>
                </div> 
            </div>
        </div>

        <div class="middle-section">
            <div class="left-column">
                <div class="attribute-stats bordered-section">
                    <div class="stat section-title">STATUS</div>

                    {% comment %} Atributos principais {% endcomment %}
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Força" id='forca' name="forca" value="{{ base_personagem.forca }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Força" id='forcaPer' name="forcaPer" value="{{ base_personagem.forcaPer }}" />
                        <label for="forca" class="formLabel">Força</label>
                        <label style="margin-left: 12.5em; width: 15em" for="forcaPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Destreza" id='destreza' name="destreza" value="{{ base_personagem.destreza }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Destreza" id='destrezaPer' name="destrezaPer" value="{{ base_personagem.destrezaPer }}" />
                        <label for="destreza" class="formLabel">Destreza</label>
                        <label style="margin-left: 12.5em; width: 15em" for="destrezaPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Inteligência" id='inteligencia' name="inteligencia" value="{{ base_personagem.inteligencia }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Inteligência" id='inteligenciaPer' name="inteligenciaPer" value="{{ base_personagem.inteligenciaPer }}" />
                        <label for="inteligencia" class="formLabel">Inteligência</label>
                        <label style="margin-left: 12.5em; width: 15em" for="inteligenciaPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Determinação" id='determinacao' name="determinacao" value="{{ base_personagem.determinacao }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Determinação" id='determinacaoPer' name="determinacaoPer" value="{{ base_personagem.determinacaoPer }}" />
                        <label for="determinacao" class="formLabel">Determinação</label>
                        <label style="margin-left: 12.5em; width: 15em" for="determinacaoPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='perspicacia' name="perspicacia" value="{{ base_personagem.perspicacia }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='perspicaciaPer' name="perspicaciaPer" value="{{ base_personagem.perspicaciaPer }}" />
                        <label for="perspicacia" class="formLabel">Perspicácia</label>
                        <label style="margin-left: 12.5em; width: 15em" for="perspicaciaPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='perspicacia' name="perspicacia" value="{{ base_personagem.perspicacia }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='perspicaciaPer' name="perspicaciaPer" value="{{ base_personagem.perspicaciaPer }}" />
                        <label for="carisma" class="formLabel">Carisma</label>
                        <label style="margin-left: 12.5em; width: 15em" for="carismaPer" class="formLabel">(%)</label>
                    </div>
                </div>

                <div class="rolling-bonus-stats bordered-section">
                    <div class="bonus section-title">BÔNUS DE ROLAGEM</div>
                    <button type="button" class="add-atributo-btn" id="addRolagem">Add</button>
                    <div class="atributos-added-container" id="rolagemContainer">
                        <!-- Atributos dinâmicos de rolagem aqui -->
                    </div>
                </div>
            </div>

            <div class="right-column">
                <div class="character-abilities bordered-section">

                    <div id="atributosDefensivo">
                        <div class="abilities section-title">ATRIBUTOS DEFENSIVOS</div>
                        <button type="button" class="add-atributo-btn" id="addDefesa">Add</button>
                        <div class="atributos-added-container" id="defesaContainer">
                            <!-- Defensivos dinâmicos -->
                        </div>
                        <div class="formGroup field">
                            <input type="number" name="reducao" id="reducao" placeholder="Redução de Dano" value="{{ base_personagem.reducao }}"/>
                            <label for="reducao" class="formLabel">Redução</label>
                        </div>
                    </div>

                    <div id="atributosOfensivo">
                        <div class="abilities section-title">ATRIBUTOS OFENSIVOS</div>
                        <button type="button" class="add-atributo-btn" id="addAtributo">Add</button>
                        <div class="atributos-added-container" id="atributosContainer">
                            <!-- Ofensivos dinâmicos -->
                        </div>
                        <div class="formGroupRed field">
                            <input type="number" name="dmgFinal" id="dmgFinal" placeholder="Dano Final" value="{{ base_personagem.danoFinal }}"/>
                            <label for="dmgFinal" class="formLabel">Dano Final</label>
                        </div>
                    </div>
                </div>

                <div class="character-equipment bordered-section">
                    <div class="equipment section-title">AMPLIFICAÇÕES</div>
                    <button type="button" class="add-atributo-btn" id="addAmplificacao">Add</button>
                    <div class="atributos-added-container" id="amplificacaoContainer">
                        <!-- Amplificações -->
                    </div>

                    <div class="equipment section-title">REGENERAÇÃO</div>
                    <button type="button" class="add-atributo-btn" id="addRegeneracao">Add</button>
                    <div class="atributos-added-container" id="regeneracaoContainer">
                        <!-- Regeneração -->
                    </div>
                </div>
            </div>
        </div>

        <div class="formGroupRed">
            <a href="{% url 'exibir_personagem' %}"><button type="button" class="button">Voltar</button></a>
            <a href="{% url 'habilidade' personagem_id=tela_personagem.id %}" class="buttonLink"><button type="button" class="button">Habilidades</button></a>
            <a href="{% url 'cadastro' personagem_id=tela_personagem.id %}"><button type="button" class="button">Maestria</button></a>
            <button type="submit" class="submit">Salvar</button>
        </div>

        </form>
    </div>

    {% endlocalize %}
    <script src="{% static 'base_personagem/script.js' %}"></script>
</body>
</html>