<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crônicas de Errat</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
  <body>
    <form method="post">
    <div><input type="number" id="numero1" pattern="[0-9]+$" value="{{ numero1|default:'0' }}" oninput="somarteste()"></div>
    <div><input type="number" id="numero2" pattern="[0-9]+$" value="0" oninput="somarteste()"></div>
    <div>Resultado: <spin id="resultado"></spin></div>
    <div>Altere: <spin id="alterar">Ola, Mundo!</spin></div>
  </body>
</html>
