<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Personagem - Exemplo</title>
    <link rel="stylesheet" href="/static/inicial.css">
</head>
<body>
    <header>
        <h1>Crônicas de Errat</h1>
    </header>

    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='/'>Resumo do Personagem</a></li>
          <li><a class='dropdown-arrow' href='http://'>Itens do Personagem</a>
            <ul class='sub-menus'>
              <li><a href='http://'>Acessorios</a></li>
              <li><a href='http://'>Arma</a></li>
              <li><a href='http://'>Conj. Armadura</a></li>
              <li><a href='http://'>Grimorio</a></li>
            </ul>
          </li>
          <li><a href='http://'>About</a></li>
          <li><a class='dropdown-arrow' href='http://'>Dados Pessoais</a>
            <ul class='sub-menus'>
              <li><a href='http://'>Raça</a></li>
              <li><a href='http://'>Maestria</a></li>
            </ul>
          </li>
          <li><a href='http://'>Contato</a></li>
        </ul>
      </nav>

    <main>
        <section class="character-details">
            <div class="character-info">
                <h2>Nome do Personagem</h2>
                <p>Nível 1 | Exp | Raça</p>
            </div>
            <div class="character-attributes">
                <h3>Status</h3>
                <ul>
                    <li>Força: <spin id="forcaT">0</spin></li>
                    <li>Destreza: <spin id="destrezaT">0</spin></li>
                    <li>Inteligencia: <spin id="inteligenciaT">0</spin></li>
                    <li>Determinação: <spin id="determinacaoT">0</spin></li>
                    <li>Percepção: <spin id="percepcaoT">0</spin></li>
                    <li>Carisma: <spin id="carismaT">0</spin></li>
                </ul>
            </div>
            <div class="character-image">
                <img src="https://via.placeholder.com/200" alt="Character Image">
            </div>
        </section>
    </main>
    <script src="/static/script.js"></script>
</body>
</html>
