<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crônicas de Errat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <style>
        input[type=number]::-webkit-inner-spin-button{
        appearance: none; 
        
    }
    </style>
    <div class="valatributo">
        <h1>Atributos Vitais do Personagem</h1>
        <div class="atributo" onchange="redvida()">
            <label for="vida" >Vida: </label>
            <input type= "number" id="vidaP" pattern="[0-9]+$"></input>
            <labelat id="vidat">100</labelat>
            <input onKeyPress= 'redvida()' id="vida" name="vida">
    
            <label for="mana">Mana</label>
            <input type= "number" id="manaP" pattern="[0-9]+$"></input>
            <labelat id="manat">100</labelat>
            <input id="mana" name="mana">
    
            <label for="vigor">Vigor</label>
            <input type= "number" id="vigorP" pattern="[0-9]+$"></input>
            <labelat id="vigort">100</labelat>
            <input id="vigor" name="vigor">
        </div>
    </div>

    <p></p>
    <div class="valstatus" onchange="alterar()">
        <h1>Valores Base do Personagem</h1>
        <div class="atrstatus">
            <label for="forca"></label>
            <label for="forca">Total</label>
            <label for="forca">Base</label>
            <label>Status base</label>
            <label>Maestria</label>
            <label>Missão</label>

            <label for="forca">Força</label>
            <labeltot id=forcaT>0</labeltot>
            <labelat id="forcat">0</labelat> 
            <input type="number" id="forca" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaMT" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaMS" value="0" pattern="[0-9]+$">

            <label for="destreza">Destreza </label>
            <labeltot id=destrezaT>0</labeltot>
            <labelat id="destrezat">0</labelat>
            <input type="number" id="destreza" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaMT" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaMS" value="0" pattern="[0-9]+$">

            <label for="inteligencia">Inteligencia</label>
            <labeltot id=inteligenciaT>0</labeltot>
            <labelat id="inteligenciat">0</labelat>
            <input type="number" id="inteligencia" value="0" pattern="[0-9]+$"> 
            <input type="number" id="inteligenciaMT" value="0" pattern="[0-9]+$"> 
          <input type="number" id="inteligenciaMS" value="0" pattern="[0-9]+$"> 

            <label for="determinacao">Determinação </label>
            <labeltot id=determinacaoT>0</labeltot>
            <labelat id="determinacaot">0</labelat> 
            <input type="number" id="determinacao" value="0" pattern="[0-9]+$"> 
            <input type="number" id="determinacaoMT" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoMS" value="0" pattern="[0-9]+$">

            <label for="percepcao">Percepção</label>
            <labeltot id=percepcaoT>0</labeltot>
            <labelat id="percepcaot">0</labelat>
            <input type="number" id="percepcao" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoMT" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoMS" value="0" pattern="[0-9]+$">
            
            <label for="carisma">Carisma</label>
            <labeltot id=carismaT>0</labeltot>
            <labelat id="carismat">0</labelat> 
            <input type="number" id="carisma" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaMT" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaMS" value="0" pattern="[0-9]+$">
        </div>
    </div>
    <p></p>
    <div class="valarma" onchange="alterar()">
        <h1>Status das Armas</h1>
        <div class="atrarma">
            <label></label>
            <labelat></labelat> 
            <label>Arma Pri.</label>
            <label>Arma Sec.</label>
            
            <label >Força</label>
            <labelat id="forcaAr">0</labelat> 
            <input type="number" id="forcaAp" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaAs" value="0" pattern="[0-9]+$">
            
            <label >Destreza</label>
            <labelat id="destrezaAr">0</labelat>
            <input type="number" id="destrezaAp" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaAs" value="0" pattern="[0-9]+$">
            
            <label >Inteligencia</label>
            <labelat id="inteligenciaAr">0</labelat>
            <input type="number" id="inteligenciaAp" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaAs" value="0" pattern="[0-9]+$">
            
            <label>Determinação</label>
            <labelat id="determinacaoAr">0</labelat>
            <input type="number" id="determinacaoAp" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoAs" value="0" pattern="[0-9]+$">
            
            <label >Percepção</label>
            <labelat id="percepcaoAr">0</labelat>
            <input type="number" id="percepcaoAp" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoAs" value="0" pattern="[0-9]+$">
            
            <label >Carisma</label>
            <labelat id="carismaAr">0</labelat>
            <input type="number" id="carismaAp" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaAs" value="0" pattern="[0-9]+$">
        </div>
    </div>
        <p></p>
    <div class="valequipamento" onchange="alterar()">
        <h1>Status do Conjunto de Armadura</h1>
        <div class="atrequipamento">
            <label></label>
            <labelat id="forcatT"></labelat> 
            <label for="forca">Elmo</label>
            <label for="forca">Peitoral</label>
            <label for="forca">Luvas</label>
            <label for="forca">Calça</label>
            <label for="forca">Bota</label>
            
            <label>Força</label>
            <labelat id="forcaCJ">0</labelat> 
            <input type="number" id="forcaE" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaP" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaL" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaC" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaB" value="0" pattern="[0-9]+$">
            
            <label >Destreza</label>
            <labelat id="destrezaCJ">0</labelat>
            <input type="number" id="destrezaE" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaP" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaL" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaC" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaB" value="0" pattern="[0-9]+$">
            
            <label>Inteligencia</label>
            <labelat id="inteligenciaCJ">0</labelat>
            <input type="number" id="inteligenciaE" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaP" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaL" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaC" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaB" value="0" pattern="[0-9]+$">
            
            <label for="determinacaoE">Determinação</label>
            <labelat id="determinacaoCJ">0</labelat>
            <input type="number" id="determinacaoE" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoP" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoL" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoC" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoB" value="0" pattern="[0-9]+$">
            
            <label >Percepção</label>
            <labelat id="percepcaoCJ">0</labelat>
            <input type="number" id="percepcaoE" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoP" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoL" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoC" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoB" value="0" pattern="[0-9]+$">
            
            <label >Carisma</label>
            <labelat id="carismaCJ">0</labelat>
            <input type="number" id="carismaE" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaP" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaL" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaC" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaB" value="0" pattern="[0-9]+$">
        </div>
    </div>
<p></p>
    <div class="valacessorio" onchange="alterar()">
        <h1>Status do Conjunto de Armadura</h1>
        <div class="atracessorio">
            <labelat id="forcaAce"></labelat> 
            <label>Total</label>
            <label>Anel 1</label>
            <label>Anel 2</label>
            <label>Anel 3</label>
            <label>Anel 4</label>
            <label>Brac. D</label>
            <label>Brac. E</label>
            <label>Brin. D</label>
            <label>Brin. E</label>
            <label>Colar</label>
            <label>Capa</label>
            <label>Cint.</label>
            
            <label>Força</label>
            <labelat id="forcaAc">0</labelat> 
            <input type="number" id="forcaAn1" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaAn2" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaAn3" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaAn4" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaBc1" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaBc2" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaBr1" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaBr2" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaCo" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaCa" value="0" pattern="[0-9]+$">
            <input type="number" id="forcaCi" value="0" pattern="[0-9]+$">
            
            <label>Destreza</label>
            <labelat id="destrezaAc">0</labelat>
            <input type="number" id="destrezaAn1" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaAn2" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaAn3" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaAn4" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaBc1" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaBc2" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaBr1" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaBr2" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaCo" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaCa" value="0" pattern="[0-9]+$">
            <input type="number" id="destrezaCi" value="0" pattern="[0-9]+$">

            <label>Inteligencia</label>
            <labelat id="inteligenciaAc">0</labelat>
            <input type="number" id="inteligenciaAn1" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaAn2" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaAn3" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaAn4" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaBc1" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaBc2" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaBr1" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaBr2" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaCo" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaCa" value="0" pattern="[0-9]+$">
            <input type="number" id="inteligenciaCi" value="0" pattern="[0-9]+$">
            
            <label>Determinação</label>
            <labelat id="determinacaoAc">0</labelat>
            <input type="number" id="determinacaoAn1" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoAn2" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoAn3" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoAn4" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoBc1" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoBc2" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoBr1" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoBr2" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoCo" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoCa" value="0" pattern="[0-9]+$">
            <input type="number" id="determinacaoCi" value="0" pattern="[0-9]+$">
            
            <label>Percepção</label>
            <labelat id="percepcaoAc">0</labelat>
            <input type="number" id="percepcaoAn1" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoAn2" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoAn3" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoAn4" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoBc1" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoBc2" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoBr1" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoBr2" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoCo" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoCa" value="0" pattern="[0-9]+$">
            <input type="number" id="percepcaoCi" value="0" pattern="[0-9]+$">
            
            <label>Carisma</label>
            <labelat id="carismaAc">0</labelat>
            <input type="number" id="carismaAn1" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaAn2" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaAn3" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaAn4" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaBc1" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaBc2" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaBr1" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaBr2" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaCo" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaCi" value="0" pattern="[0-9]+$">
            <input type="number" id="carismaCa" value="0" pattern="[0-9]+$">
        </div>
    </div>
    <p></p>
    
    <button onclick="alterar()"> Alterar valores</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
