<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crônicas de Errat</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
    <style>
        input[type=number]::-webkit-inner-spin-button{
        appearance: none; 
    }
    </style>
    <div class="valatributo">
        <h1>Atributos Personagem</h1>
        <label>Raça do Personagem: </label>
        <p></p>
        <div class="racial">
            <select>
                <option value="anoes">Anões</option>
                <option value="anjos">Anjos</option>
                <option value="anjo_caido">Anjo Caído</option>
                <option value="automatos">Autômatos</option>
                <option value="ciborgues">Ciborgues</option>
                <option value="demonios">Demônios</option>
                <option value="draconatos">Draconatos</option>
                <option value="elfos">Elfos</option>
                <option value="elfos_negros">Elfos Negros</option>
                <option value="ensuris">Ensuri (Elementais)</option>
                <option value="fadas">Fadas</option>
                <option value="fenix">Filho da Fênix</option>
                <option value="gigantes">Gigantes</option>
                <option value="gnomos">Gnomos</option>
                <option value="goblins">Goblins</option>
                <option value="humanos">Humanos</option>
                <option value="lobisomem">Lobisomem (Lycan Amaldiçoado)</option>
                <option value="lycan">Lycan</option>
                <option value="lycans_sangue">Lycans de Sangue (Híbridos)</option>
                <option value="meio_anjo">Meio-Anjo</option>
                <option value="meio_anjo_caido">Meio-Anjo Caído</option>
                <option value="meio_demonio">Meio-Demônio</option>
                <option value="meio_dragao">Meio-Dragão</option>
                <option value="meio_elfo">Meio-Elfo</option>
                <option value="meio_fera">Meio-Fera</option>
                <option value="metamorfos">Metamorfos</option>
                <option value="morto_vivos">Morto-Vivos</option>
                <option value="nifas">Ninfas</option>
                <option value="onis">Onis</option>
                <option value="orcs">Orcs</option>
                <option value="pinguins">Pinguins (Icekins)</option>
                <option value="slimes">Slimes (Humanóide)</option>
                <option value="succubus">Succubus/Incubus</option>
            </select>
        <div class="select-arrow"></div>
    </div>  
          <p></p>
        <div class="atributo">
          <label></label>
          <label>Atual</label>
          <label>Total</label>
          <label>Base</label>
          <label>Aum. Fix</label>
          <label>Aum. %</label>
          <label>Buff</label>
          <label>Dano|Gasto</label>
          
          <label>Vida: </label>
          <label id="vidaAt">0</label>
          <label id="vidaTo">0</label>
          <input type="number" id="vidaB" pattern="[0-9]+$" value="100" oninput="redvida()">
          <input type="number" id="vidaE" pattern="[0-9]+$" value="0" oninput="redvida()">
          <input type="number" id="vidaA" pattern="[0-9]+$" value="0" oninput="redvida()"> 
          <input type="number" id="vidaT" pattern="[0-9]+$" value="0" oninput="redvida()"> 
          <input type="number" id="dano" pattern="[0-9]+$" value="0" oninput="redvida()"> 

          <label>Mana: </label>
          <label id="manaAt">0</label>
          <label id="manaTo">0</label>
          <input type="number" id="manaB" pattern="[0-9]+$" value="100" oninput="redvida()">
          <input type="number" id="manaE" pattern="[0-9]+$" value="0" oninput="redvida()">
          <label></label>
          <label></label>
          <input type="number" id="gastoM" pattern="[0-9]+$" value="0" oninput="redvida()"> 
      
          <label>Vigor: </label>
          <label id="vigorAt">0</label>
          <label id="vigorTo">0</label>
          <input type="number" id="vigorB" pattern="[0-9]+$" value="100" oninput="redvida()">
          <input type="number" id="vigorE" pattern="[0-9]+$" value="0" oninput="redvida()">
          <label></label>
          <label></label>
          <input type="number" id="gastoV" pattern="[0-9]+$" value="0" oninput="redvida()"> 
        </div>
    </div>
<p></p>
    <div class="valstatus" onchange="alterar()">
        <h1>Valores Base do Personagem</h1>
        <div class="atrstatus">
            <label></label>
            <label>Total</label>
            <label>Base</label>
            <label>Nivel</label>
            <label>Missão</label>
            <label>Benção</label>
            <label>Grim.</label>
            <label>Buff Fix</label>
            <label>Buff %</label>
            <label>Racial</label>
            <label>Hab Fix</label>
            <label>Hab %</label>

            <label for="forca">Força</label>
            <labeltot id="forcaT">0</labeltot>
            <labelat id="forcat">0</labelat> 
            <input type="number" id="forca" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaMS" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaBD" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaG" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaBF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaBP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaraca" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaHF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaHP" value="0" pattern="[0-9]+$" oninput="alterar()">

            <label for="destreza">Destreza </label>
            <labeltot id="destrezaT">0</labeltot>
            <labelat id="destrezat">0</labelat>
            <input type="number" id="destreza" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaMS" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaBD" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaG" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaBF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaBP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaraca" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaHF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaHP" value="0" pattern="[0-9]+$" oninput="alterar()">

            <label for="inteligencia">Inteligencia</label>
            <labeltot id="inteligenciaT">0</labeltot>
            <labelat id="inteligenciat">0</labelat>
            <input type="number" id="inteligencia" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="inteligenciaMS" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="inteligenciaBD" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="inteligenciaG" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaBF" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="inteligenciaBP" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="inteligenciaraca" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="inteligenciaHF" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="inteligenciaHP" value="0" pattern="[0-9]+$" oninput="alterar()"> 

            <label for="determinacao">Determinação </label>
            <labeltot id="determinacaoT">0</labeltot>
            <labelat id="determinacaot">0</labelat> 
            <input type="number" id="determinacao" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="determinacaoMS" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoBD" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="determinacaoG" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoBF" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="determinacaoBP" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="determinacaoraca" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="determinacaoHF" value="0" pattern="[0-9]+$" oninput="alterar()"> 
            <input type="number" id="determinacaoHP" value="0" pattern="[0-9]+$" oninput="alterar()"> 

            <label for="percepcao">Percepção</label>
            <labeltot id="percepcaoT">0</labeltot>
            <labelat id="percepcaot">0</labelat>
            <input type="number" id="percepcao" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoMS" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoBD" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoG" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoBF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoBP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoraca" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoHF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoHP" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label for="carisma">Carisma</label>
            <labeltot id="carismaT">0</labeltot>
            <labelat id="carismat">0</labelat> 
            <input type="number" id="carisma" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaMS" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaBD" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaG" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaBF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaBP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaraca" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaHF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaHP" value="0" pattern="[0-9]+$" oninput="alterar()">
        </div>
    </div>
<p></p>
    <div class="valcla" onchange="alterar()">
        <h1>Dadiva de Clã</h1>
        <div class="atrcla">
            <label></label>
            <label></label> 
            <label>Status Fix</label>
            <label>Status %</label>
            
            <label >Força</label>
            <labelat id="forcaAr">0</labelat> 
            <input type="number" id="forcaDCF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaDCP" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Destreza</label>
            <labelat id="destrezaAr">0</labelat>
            <input type="number" id="destrezaDCF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaDCP" value="0" pattern="[0-9]+$" oninput="alterar()">

            <label >Inteligencia</label>
            <labelat id="inteligenciaAr">0</labelat>
            <input type="number" id="inteligenciaDCF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaDCP" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Determinação</label>
            <labelat id="determinacaoAr">0</labelat>
            <input type="number" id="determinacaoDCF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoDCP" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Percepção</label>
            <labelat id="percepcaoAr">0</labelat>
            <input type="number" id="percepcaoDCF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoDCP" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Carisma</label>
            <labelat id="carismaAr">0</labelat>
            <input type="number" id="carismaDCF" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaDCP" value="0" pattern="[0-9]+$" oninput="alterar()">
        </div>
    </div>
<p></p>
    <div class="valarma" onchange="alterar()">
        <h1>Status das Armas</h1>
        <div class="atrarma">
            <label></label>
            <labelat></labelat> 
            <label>Arma Pri.</label>
            <label>Arma Sec.</label>
            
            <label >Força</label>
            <labelat id="forcaAr">0</labelat> 
            <input type="number" id="forcaAp" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaAs" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Destreza</label>
            <labelat id="destrezaAr">0</labelat>
            <input type="number" id="destrezaAp" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaAs" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Inteligencia</label>
            <labelat id="inteligenciaAr">0</labelat>
            <input type="number" id="inteligenciaAp" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaAs" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Determinação</label>
            <labelat id="determinacaoAr">0</labelat>
            <input type="number" id="determinacaoAp" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoAs" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Percepção</label>
            <labelat id="percepcaoAr">0</labelat>
            <input type="number" id="percepcaoAp" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoAs" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Carisma</label>
            <labelat id="carismaAr">0</labelat>
            <input type="number" id="carismaAp" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaAs" value="0" pattern="[0-9]+$" oninput="alterar()"> 
        </div>
    </div>
<p></p>
    <div class="valequipamento" onchange="alterar()">
        <h1>Status do Conjunto de Armadura</h1>
        <div class="atrequipamento">
            <label></label>
            <labelat id="forcatT"></labelat> 
            <label for="forca">Elmo</label>
            <label for="forca">Peitoral</label>
            <label for="forca">Luvas</label>
            <label for="forca">Calça</label>
            <label for="forca">Bota</label>
            
            <label>Força</label>
            <labelat id="forcaCJ">0</labelat> 
            <input type="number" id="forcaE" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaL" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaC" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Destreza</label>
            <labelat id="destrezaCJ">0</labelat>
            <input type="number" id="destrezaE" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaL" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaC" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Inteligencia</label>
            <labelat id="inteligenciaCJ">0</labelat>
            <input type="number" id="inteligenciaE" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaL" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaC" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label for="determinacaoE">Determinação</label>
            <labelat id="determinacaoCJ">0</labelat>
            <input type="number" id="determinacaoE" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoL" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoC" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Percepção</label>
            <labelat id="percepcaoCJ">0</labelat>
            <input type="number" id="percepcaoE" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoL" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoC" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label >Carisma</label>
            <labelat id="carismaCJ">0</labelat>
            <input type="number" id="carismaE" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaP" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaL" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaC" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaB" value="0" pattern="[0-9]+$" oninput="alterar()">
        </div>
    </div>
<p></p>
    <div class="valacessorio" onchange="alterar()">
        <h1>Status do Conjunto de Armadura</h1>
        <div class="atracessorio">
            <labelat id="forcaAce"></labelat> 
            <label>Total</label>
            <label>Anel 1</label>
            <label>Anel 2</label>
            <label>Anel 3</label>
            <label>Anel 4</label>
            <label>Brac. D</label>
            <label>Brac. E</label>
            <label>Brin. D</label>
            <label>Brin. E</label>
            <label>Colar</label>
            <label>Capa</label>
            <label>Cint.</label>
            
            <label>Força</label>
            <labelat id="forcaAc">0</labelat> 
            <input type="number" id="forcaAn1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaAn2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaAn3" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaAn4" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaBc1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaBc2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaBr1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaBr2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaCo" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaCa" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaCi" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Destreza</label>
            <labelat id="destrezaAc">0</labelat>
            <input type="number" id="destrezaAn1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaAn2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaAn3" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaAn4" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaBc1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaBc2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaBr1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaBr2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaCo" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaCa" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaCi" value="0" pattern="[0-9]+$" oninput="alterar()">

            <label>Inteligencia</label>
            <labelat id="inteligenciaAc">0</labelat>
            <input type="number" id="inteligenciaAn1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaAn2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaAn3" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaAn4" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaBc1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaBc2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaBr1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaBr2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaCo" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaCa" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaCi" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Determinação</label>
            <labelat id="determinacaoAc">0</labelat>
            <input type="number" id="determinacaoAn1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoAn2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoAn3" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoAn4" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoBc1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoBc2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoBr1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoBr2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoCo" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoCa" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoCi" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Percepção</label>
            <labelat id="percepcaoAc">0</labelat>
            <input type="number" id="percepcaoAn1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoAn2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoAn3" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoAn4" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoBc1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoBc2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoBr1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoBr2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoCo" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoCa" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoCi" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Carisma</label>
            <labelat id="carismaAc">0</labelat>
            <input type="number" id="carismaAn1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaAn2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaAn3" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaAn4" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaBc1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaBc2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaBr1" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaBr2" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaCo" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaCi" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaCa" value="0" pattern="[0-9]+$" oninput="alterar()">
        </div>
    </div>
<p></p>
    <div class="valmaestria" onchange="alterar()">
        <h1>Maestria Principal</h1>
        <div class="atrmaestria">
            <label></label>
            <label>Recompensa</label>
            <label>Bonus</label>
            
            <label>Força</label>
            <input type="number" id="forcaMPR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaMPB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Destreza</label>
            <input type="number" id="destrezaMPR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaMPB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Inteligencia</label>
            <input type="number" id="inteligenciaMPR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaMPB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Determinação</label>
            <input type="number" id="determinacaoMPR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoMPB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Percepção</label>
            <input type="number" id="percepcaoMPR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoMPB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Carisma</label>
            <input type="number" id="carismaMPR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaMPB" value="0" pattern="[0-9]+$" oninput="alterar()">
        </div>
    </div>
<p></p>
    <div class="valmaestria" onchange="alterar()">
        <h1>Maestria Secundaria</h1>
        <div class="atrmaestria">
            <label></label>
            <label>Recompensa</label>
            <label>Bonus</label>
            
            <label>Força</label>
            <input type="number" id="forcaMSR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaMSB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Destreza</label>
            <input type="number" id="destrezaMSR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaMSB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Inteligencia</label>
            <input type="number" id="inteligenciaMSR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaMSB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Determinação</label>
            <input type="number" id="determinacaoMSR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoMSB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Percepção</label>
            <input type="number" id="percepcaoMSR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoMSB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Carisma</label>
            <input type="number" id="carismaMSR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaMSB" value="0" pattern="[0-9]+$" oninput="alterar()">
        </div>
    </div>
<p></p>
    <div class="valmaestria" onchange="alterar()">
        <h1>Maestria Utilitaria</h1>
        <div class="atrmaestria">
            <label></label>
            <label>Recompensa</label>
            <label>Bonus</label>
            
            <label>Força</label>
            <input type="number" id="forcaMUR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="forcaMUB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Destreza</label>
            <input type="number" id="destrezaMUR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="destrezaMUB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Inteligencia</label>
            <input type="number" id="inteligenciaMUR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="inteligenciaMUB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Determinação</label>
            <input type="number" id="determinacaoMUR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="determinacaoMUB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Percepção</label>
            <input type="number" id="percepcaoMUR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="percepcaoMUB" value="0" pattern="[0-9]+$" oninput="alterar()">
            
            <label>Carisma</label>
            <input type="number" id="carismaMUR" value="0" pattern="[0-9]+$" oninput="alterar()">
            <input type="number" id="carismaMUB" value="0" pattern="[0-9]+$" oninput="alterar()">
        </div>
    </div>
<p></p>
    <button onclick="alterar()" onclick="redvida()"> Alterar Valores</button>
    <button onclick="salvar()"> Salvar Valores</button>
    <script src="/static/script.js"></script>   
    <button> <a href="/visual">Atributos</a> </button>
</body>
</html>
