{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'acessorios/styleConj.css' %}"> </head>
<body style="background-color:">

    <div class="container">
        <img src="{% static 'acessorios/Acessorios.png' %}" alt="Personagem" usemap="#mapa-personagem">

        <map name="mapa-personagem">
            <area shape="rect" coords="283,172,419,211" href="{% url 'cadastrar_atributos_acessorios' tipo='anelAnelar' %}" alt="Anel_Anelar">
            <area shape="rect" coords="431,171,552,211" href="{% url 'cadastrar_efeitos_acessorios' tipo='anelAnelar' %}" alt="Anel_Anelar">
            <area shape="rect" coords="278,247,417,289" href="{% url 'cadastrar_atributos_acessorios' tipo='anelIndicador' %}" alt="Anel_Indicador">
            <area shape="rect" coords="427,248,557,289" href="{% url 'cadastrar_efeitos_acessorios' tipo='anelIndicador' %}" alt="Anel_Indicador">
            <area shape="rect" coords="276,323,415,365" href="{% url 'cadastrar_atributos_acessorios' tipo='anelMedio' %}" alt="Anel_Medio">
            <area shape="rect" coords="429,324,559,365"  href="{% url 'cadastrar_efeitos_acessorios' tipo='anelMedio' %}" alt="Anel_Medio">
            <area shape="rect" coords="280,395,419,437" href="{% url 'cadastrar_atributos_acessorios' tipo='anelMinimo' %}" alt="Anel_Minimo">
            <area shape="rect" coords="428,393,558,434" href="{% url 'cadastrar_efeitos_acessorios' tipo='anelMinimo' %}" alt="Anel_Minimo">
            
            <area shape="rect" coords="999,175,1138,217" href="{% url 'cadastrar_atributos_acessorios' tipo='braceleteEsquerdo' %}" alt="Bracelete_Esquerdo">
            <area shape="rect" coords="1150,174,1280,215" href="{% url 'cadastrar_efeitos_acessorios' tipo='braceleteEsquerdo' %}" alt="Bracelete_Esquerdo">
            <area shape="rect" coords="998,247,1137,289"  href="{% url 'cadastrar_atributos_acessorios' tipo='braceleteDireito' %}" alt="Bracelete_Direito">
            <area shape="rect" coords="1146,248,1276,289" href="{% url 'cadastrar_efeitos_acessorios' tipo='braceleteDireito' %}" alt="Bracelete_Direito">
            
            <area shape="rect" coords="278,665,417,707"  href="{% url 'cadastrar_atributos_acessorios' tipo='brincoEsquerdo' %}" alt="Brinco_Esquerdo">
            <area shape="rect" coords="429,665,559,706" href="{% url 'cadastrar_efeitos_acessorios' tipo='brincoEsquerdo' %}" alt="Brinco_Esquerdo">
            <area shape="rect" coords="281,739,420,781" href="{% url 'cadastrar_atributos_acessorios' tipo='brincoDireito' %}" alt="Brinco_Direito">
            <area shape="rect" coords="430,741,560,782" href="{% url 'cadastrar_efeitos_acessorios' tipo='brincoDireito' %}" alt="Brinco_Direito">
            
            <area shape="rect" coords="992,661,1131,703" href="{% url 'cadastrar_atributos_acessorios' tipo='acessorioP' %}" alt="Acessorio_Principal">
            <area shape="rect" coords="1151,661,1281,702" href="{% url 'cadastrar_efeitos_acessorios' tipo='acessorioP' %}" alt="Acessorio_Principal">
            <area shape="rect" coords="1001,738,1140,780" href="{% url 'cadastrar_atributos_acessorios' tipo='acessorioS' %}" alt="Acessorio_Secundario">
            <area shape="rect" coords="1148,738,1278,779" href="{% url 'cadastrar_efeitos_acessorios' tipo='acessorioS' %}" alt="Acessorio_Secundario">
            
            <area shape="rect" coords="992,453,1131,495" href="{% url 'cadastrar_atributos_acessorios' tipo='cinturao' %}" alt="Cinturao">
            <area shape="rect" coords="1143,454,1273,495" href="{% url 'cadastrar_efeitos_acessorios' tipo='cinturao' %}" alt="Cinturao">            
        </map>
    </div>
    <div>
        <a href="{% url 'arma' %}"><button class="button" role="button">Arma</button></a>
        <a href="{% url 'conjunto' %}"><button class="button" role="button">Conjunto</button></a>
        <a href="{% url 'exibir_personagem' %}" class="buttonLink"><button class="button" role="button">Personagem</button></a>
    </div>
</body>
</html>