<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUD do Personagem</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'acessorios/style.css' %}">
</head>
<body>
    {% load l10n %}
    {% load humanize %}
    {% localize on %}
    <div class="background-container">
        <form method="POST" action="{% url 'salvar_acessorio_atributos' %}">
            {% csrf_token %}

        <div class="header">
            <div class="name" style="color: white;">
                <span >Nome do Personagem: {{ tela_personagem.personagem }}</span>
            </div>
        </div>
        
        <div class="top-section">
            <div class="vida-mana-vigor bordered-section">
                <div class="formGroupRed field">
                    <input type="number" maxlength="12" name="vida" id="vida" placeholder="Valor da Vida" value="{{ acessorios.vida }}" onkeypress="if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;"/>
                    <input style="margin-Left: 1em" pattern="[0-9]+$" type="number" placeholder="Aumento de Vida (%)" name='vidaTotal' id='vidaTotal' value="{{ acessorios.vidaTotal }}" />
                    <label style="margin-Left: 13.5em; width: 13.5em" for="vidaTotal" class="formLabel">Aumento de Vida (%)</label>
                    <label style="width: 13em" for="vida" class="formLabel">Aumento de Vida</label>
                </div>
            </div>
        </div>

        <div class="middle-section">
            <div class="left-column">
                <div class="attribute-stats bordered-section">
                    <div class="stat section-title">STATUS</div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Força" id='forca' name="forca" value="{{ acessorios.forca }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Força" id='forcaPer' name="forcaPer" value="{{ acessorios.forcaPer }}" />
                        <label for="forca" class="formLabel">Força</label>
                        <label style="margin-left: 12.5em; width: 15em" for="forcaPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Destreza" id='destreza' name="destreza" value="{{ acessorios.destreza }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Destreza" id='destrezaPer' name="destrezaPer" value="{{ acessorios.destrezaPer }}" />
                        <label for="destreza" class="formLabel">Destreza</label>
                        <label style="margin-left: 12.5em; width: 15em" for="destrezaPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Inteligência" id='inteligencia' name="inteligencia" value="{{ acessorios.inteligencia }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Inteligência" id='inteligenciaPer' name="inteligenciaPer" value="{{ acessorios.inteligenciaPer }}" />
                        <label for="inteligencia" class="formLabel">Inteligência</label>
                        <label style="margin-left: 12.5em; width: 15em" for="inteligenciaPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Determinação" id='determinacao' name="determinacao" value="{{ acessorios.determinacao }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Determinação" id='determinacaoPer' name="determinacaoPer" value="{{ acessorios.determinacaoPer }}" />
                        <label for="determinacao" class="formLabel">Determinação</label>
                        <label style="margin-left: 12.5em; width: 15em" for="determinacaoPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='perspicacia' name="perspicacia" value="{{ acessorios.perspicacia }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='perspicaciaPer' name="perspicaciaPer" value="{{ acessorios.perspicaciaPer }}" />
                        <label for="perspicacia" class="formLabel">Perspicácia</label>
                        <label style="margin-left: 12.5em; width: 15em" for="perspicaciaPer" class="formLabel">(%)</label>
                    </div>
                    <div class="formGroupRed field">
                        <input pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='carisma' name="carisma" value="{{ acessorios.carismaPer }}" />
                        <input style="width: 5em" pattern="[0-9]+$" type="number" placeholder="Valor da Perspicácia" id='carismaPer' name="carismaPer" value="{{ acessorios.carismaPer }}" />
                        <label for="carisma" class="formLabel">Carisma</label>
                        <label style="margin-left: 12.5em; width: 15em" for="carismaPer" class="formLabel">(%)</label>
                    </div>
                </div>
                <div class="rolling-bonus-stats bordered-section">
                    <div class="bonus section-title">BÔNUS DE ROLAGEM</div>
                        <button class="add-atributo-btn" type="button" id="addRolagem">Add</button>
                        <div class="atributos-added-container" id="rolagemContainer">
                            <!-- Atributos serão adicionados aqui dinamicamente -->
                    </div>
                    
                </div>
            </div>                

            <div class="right-column">

                <div class="character-equipment bordered-section">
                    <div class="equipment section-title">AMPLIFICAÇÕES</div>
                    <button class="add-atributo-btn" type="button" id="addAmplificacao">Add</button>
                    <div class="atributos-added-container" id="amplificacaoContainer">
                        <!-- Atributos serão adicionados aqui dinamicamente -->
                    </div>
                    
                    <div class="equipment section-title">REGENERAÇÃO</div>
                    <button class="add-atributo-btn" type="button" id="addRegeneracao">Add</button>
                    <div class="atributos-added-container" id="regeneracaoContainer">
                        <!-- Atributos serão adicionados aqui dinamicamente -->
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="formGroupRed">
            <a href="{% url 'acessorios' %}"><button type="button" class="button" role="button">Voltar</button></a>
            <a href="{% url 'exibir_personagem' %}" class="buttonLink"><button type="button" class="button" role="button">Personagem</button></a>
            <button class="submit" role="button">Salvar</button>
        </div>
    </form> 
    </div>
    {% endlocalize %}
    {{ defesas_json|json_script:"defesas-preexistentes-json" }}
    {{ resistencias_json|json_script:"resistencias-preexistentes-json" }}
    {{ danos_json|json_script:"danos-preexistentes-json" }}
    {{ penetracoes_json|json_script:"penetracoes-preexistentes-json" }}
    {{ rolagens_json|json_script:"rolagens-preexistentes-json" }}
    {{ amplificacoes_json|json_script:"amplificacoes-preexistentes-json" }}
    {{ regeneracoes_json|json_script:"regeneracoes-preexistentes-json" }}

    <script src="{% static 'base_personagem\script.js' %}"></script>
</body>
</html>